/*.setka {
    display: flex;
    flex-wrap: wrap;
     
    
    
    
    
};*/


.container {
    display: flex;
    justify-content: center; 
    max-width: 1024px;
    min-width: 640px;
    margin-left: 40px;
    margin-right: 40px;
   
}
.col {  
      
    margin-right: 20px;
    width: calc(100% / 12);
    background-color: aqua;
}

.col:last-child{
    margin-right: 0;
}